.main-carga-productos-panel {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.carga-productos-panel-adm {
  display: flex;
  height: 40px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.nuevo-producto-panel-adm {
  font-size: 18px;
  margin-top: 20px;
}
.container-productos-carga-individual {
  display: flex;
  flex-direction: column;
}
.carga-form-productos {
  display: flex;
  flex-direction: column;
}
.producto-individual-carga {
  box-shadow: 2px 2px 2px 1px var(--colorPrimary);
  width: 75%;
  padding-left: 10px;
  border: none;
  margin: 0 auto;
  height: 30px;
  margin-top: 10px;
}


.producto-individual-label {
  text-align: center;
  padding: 15px 3px 0 ;
  height: 25px;
  font-weight: bold;
}


.img-container img{
  width: 150px;
  height: 150px;
}

 
.desc-product-text-area {
  height: 100px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.container-text-area {
  width: 100%;
  text-align: center;
}

.add-file-img-carga-products,
#desc-producto-carga-productos {
  margin: 15px 0 10px 0 ;
  font-weight: bold;
  text-align: center;
}
.form-input{
  width: 200px;
  margin: 16px auto;
}

.container-img-products-carga-end{
  text-align: center;
}

.container-img-products-carga-end img {
  border-radius: 50%;
  border: solid 3px var(--colorPrimary);
}

.is-invalid {
  border: solid 2px red;
}


#add-file-products {
  width: 100%;
  margin-top: 10px;
  height: 26px;
}
#submit-finalizar-carga-productos {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#btn-submit-finalizar-edit {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 60%;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--colorPrimary);
  border: 1px solid transparent;
  border-bottom: 2px solid var(--colorPrimaryC);
  color: #fff;
  outline: none;
  padding: 8px;
  margin: 0 auto;
}

#provinceSelect {
  margin-top: 17px;
}

#submit-fn {
  margin-top: 5px;
}

@media (min-width: 576px) {
  .container-productos-carga-individual {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 5px;
    width: 90%;
  }

  .producto-individual-label {
    text-align: end;
  }

  .producto-individual-carga {
    width: 125%;
  }


}
@media (min-width: 768px) {
  #btn-submit-finalizar-edit {
    width: 30%;
  }

  .producto-individual-carga {
    width: 140%;
  }

  .container-productos-carga-individual {
    position: relative;
    right: 65px;
  }
}
