.carrusel {
    height: 400px;
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .carrusel-items {
    display: flex;
    overflow: auto;
    padding: 30px 0px;
  }
  .carrusel-items a{
   color: black;
  }

.carrusel-items::-webkit-scrollbar {
  width: 1px;
  height: 8px;
}

 /* Estilos barra (thumb) de scroll */
.carrusel-items::-webkit-scrollbar-thumb {
  background: var(--colorPrimaryC);
  border-radius: 4px;
  width: 45px;
}

.carrusel-ite5s::-webkit-scrollbar-thumb:active {
  background-color: var(--colorSecundaryWhite);
}

.carrusel-items::-webkit-scrollbar-thumb:hover {
  background: var(--colorPrimary);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.carrusel-items::-webkit-scrollbar-track {
  background: var(--colorSecundary);
  border-radius: 4px;
}

  
  .carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    cursor: pointer;
  }
  
  .carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.carrusel-item:hover {
    transform: scale(1.1);
  } 

  .carrusel-item:hover .cart {
    background-color:var(--colorPrimaryC);
  }

  .sliderbox{
    height: 350px;
    position: relative;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px rgba(8, 111, 189 , 0.8)
  }
  
  .sliderbox a {
    text-decoration: none;
    text-align: center;
  }
  
  .imagenBox {
    height: 170px;
  }
  
  .imagenBox img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  .sliderbox .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 35px;
  }
  
  .sliderbox .price {
    color : var(--colorSecundaryWhite);
    line-height: 20px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
  }
  
  .sliderbox .cart {
    position: absolute;
    height: 45px;
    bottom: 0px;
    background-color: var(--colorPrimary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
  }
  
  .sliderbox .cart a {
    color: white;
  }
  
  .sliderbox:hover {
    box-shadow: 2px 2px 12px rgba(47,47,47, 0.40);
  }
