/*header*/
.headerAdmin {
  background-color: var(--colorPrimary);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15px 20;
}

.containerLogoAdmin {
  width: 33%;
}

.logoAdmin {
  width: 90px;
  margin-left: 20px;
}

/*burger Admin*/
.menuBurgerAdmin {
  width: 33%;
  padding: 10px;
  font-size: 28px;
  text-align: center;
}

.modalBurgerAdmin {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-modal:checked ~ .modalBurgerAdmin {
  opacity: 1;
  visibility: visible;
  z-index: 9999 ;
}

.contenedorBurgerAdmin {
  height: 173px;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  transform: translateY(-100%);
}

#btn-modal:checked ~ .modalBurgerAdmin .contenedorBurgerAdmin {
  transform: translateY(0%);
}

.contenedorBurgerAdmin h2 {
  padding: 10px;
  background-color: var(--colorPrimaryC);
  color: white;
  font-size: 18px;
  text-align: right;
}

.contenedorBurgerAdmin label {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 20px;
  height: 14px;
  cursor: pointer;
  color: white;
}

.lbl-modal {
  background-color: var(--colorPrimary);
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

#btn-modal {
  display: none;
}

.lbl-modal i {
  font-size: 25px;
}

.contenidoBurgerAdmin ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contenidoBurgerAdmin ul a li {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 5px;
  border: solid 1.3px gray;
  color: var(--colorTertiary);
}

.contenidoBurgerAdmin ul a {
  text-decoration: none;
  background-color: white;
  color: white;
  font-weight: bold;
}

.contenidoBurgerAdmin ul a li:hover {
  background-color: var(--colorSecundaryWhite);
  color: white;
  font-weight: bold;
}
/*burger Admin*/

/*nav desktop*/
.navAdmin {
  width: 60%;
  display: none;
}

.navAdmin ul {
  display: flex;
  justify-content: space-around;
}

.navAdmin ul li {
  display: inline-block;
  color: white;
  padding: 3px;
  background-color: var(--colorSecundary);
  border-radius: 5px;
  border-bottom: solid 2px;
  width: 91px;
  text-align: center;
  margin: 0 2px;
}

.navAdmin ul li:hover {
  background-color: var(--colorSecundaryWhite);
}
/*nav desktop*/
.userAdmin {
  width: 33%;
  text-align: end;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userAdmin p,
.userAdmin a {
  color: white;
  font-size: 13px;
  text-align: end;
}

.userAdmin a:hover {
  color: var(--colorSecundary);
}

.user-icono {
  border-radius: 50%;
  border: 4px solid white;
  height: 50px;
  width: 50px;
}

.user-icono:hover {
  border: 4px solid var(--colorSecundary);
}

.search-container-admin {
    position: relative;
    margin: 0 auto;
    margin-left: 20px;
}

.searchAdmin {
  background-color: rgba(255, 255, 255, 0.7);
  height: 30px;
  border: 2px solid var(--colorSecundary);
  padding: 0 25px 0 10px;
  border-radius: 55px;
  color: var(--colorTertiary);
  font-weight: 600;
  outline: none;
}

.buttonSearchAdmin {
  color: var(--colorPrimaryC);
  position: relative;
  right: 30px;
  background-color: transparent;
  border: none;
}

.buttonSearchAdmin:hover i { 
  color: var(--colorSecundary);
  cursor: pointer;
}

/*header*/

@media (min-width: 768px) {
  .menuBurgerAdmin {
    display: none;
  }

  .navAdmin {
    display: block;
  }

  .containerLogoAdmin {
    width: 20%;
  }

  .userAdmin {
    width: 20%;
  }
}

@media (min-width: 992px) {
  .navAdmin ul li {
    padding: 5px;
    width: 110px;
  }
}
