.containerUserProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    border: solid 2px var(--colorTertiary);
    background-color: var(--colorWhite);
    color:solid 3px var(--colorTertiary) ;
}

.containerUserProfile h1 {
    text-align: center;
    color: var(--colorTertiary);
}

.containerUserProfile .imageProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerUserProfile .imageProfile .avatar { 
    width: 150px;
    height: 150px;
    background-color: var(--colorTertiary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: var(--colorSecundary);
    font-weight: bold;
}
.containerUserProfile .imageProfile .avatar img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.containerUserProfile .imageProfile input {
    width: 90%;
    color: var(--colorWhite);
    border: solid 3px var(--colorSecundary);
}

.containerUserProfile .data {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.containerUserProfile .data div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0; 
}

.containerUserProfile .data h3 {
    width: 100%;
    color: var(--colorTertiary);
}

.containerUserProfile .data div input {
    padding: 3px;
    font-weight: 500;
    width: 200px;
    color: var(--colorPrimary);
}

.containerUserProfile .data div p {
    font-weight: bold;
    font-style: italic;
    color: var(--colorSecundary);
}

.containerUserProfile .data div p:nth-child(1) {
    color: var(--colorTertiary);
}

.btnProfile { 
    width: 120px;
    height: 45px;
    color: var(--colorWhite);
    font-weight: bold;
    background-color: var(--colorPrimaryC);
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.btnProfile:hover {
    background-color: var(--colorSecundary);
}


@media (min-width: 750px) {
    .containerUserProfile {
        margin: 20px auto;
        border-radius: 5px;
        border: solid 3px var(--colorTertiary);
        background-color: var(--colorPrimary);
        color:solid 3px var(--colorWhite) ;
        }

        .containerUserProfile .data h3{
            color: var(--colorWhite);
        }
        
        .containerUserProfile .data div p:nth-child(1) {
            color: var(--colorWhite);
        }

        .containerUserProfile h1 {
            color: var(--colorWhite);
        }

        .containerUserProfile .imageProfile .avatar { 
            width: 150px;
            height: 150px;
            background-color: var(--colorSecundary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            color: var(--colorTertiary);
            font-weight: bold;
        }
}




