<!DOCTYPE html>
<html lang="en">
    
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/styles.css">
<body class="body-about">
    <%- include('partials/header') %>
    <div class="ul-about-view">
        <ul>
            <li><a href="">Inicio /</a></li>
            <li><a href=""> Productos /</a></li>
            <li>About</li>
        </ul>
    </div>
    
    <div class="linea-tiempo">
        <div class="momento">
          <h3>2018</h3>
          <div class="descripcion">
            Comienzo de venta de insumos mediante redes sociales.
          </div>
        </div>
        <div class="momento">
          <h3>2019</h3>
          <div class="descripcion">
            Apertura de local.
          </div>
        </div>
        <div class="momento">
          <h3>2021</h3>
          <div class="descripcion">
            Inauguración de tienda virtual propia.
          </div>
        </div>
        <div class="momento">
          <h3>2021</h3>
          <div class="descripcion">
            Seguimos en construcción.
          </div>
        </div>
      </div>
      <!-- <div class="form">
        <form action="https://formsubmit.co/cuentasmurff2020@gmail.com" method="post">
          <label for="nombre">Nombre</label>
          <input type="text" name="" id="nombre" value="">
          <label for="email">Email</label>
          <input type="text" name="" id="email" value="">
          <label for="tel">Telefono</label>
          <input type="tel" name="" id="tel"value="">
          <label for="coment">Dejanos tu comentario</label>
          <textarea name="" id="coment" cols="30" rows="10" style="resize: none;"></textarea>
          <button type="submit">
          Enviar
          </button>
        </form>
      </div> -->
    <div class="about-banner-us">
        <img class="img-banner-about" src="/images/about-us/5.jpg" alt="">
    </div>
    <div class="rgba"></div>
    <%- include('partials/footer')  %> 
</body>
</html>