<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
    <main class="containerUserProfile">
        <h1>Mis datos</h1>

        <div class="imageProfile">
            <div class="avatar">Imagen de perfil</div>
            <input type="file" name="avatar" id="avatar">
        </div>

        <div class="data">
            <h3>Datos de cuenta</h3>
            <div>
                <p>Usuario</p>
                <p>Usuario123</p>
            </div>
            <div>
                <p>E-mail</p>
                <p>ejemplo@ejemplo.com</p>
            </div>
        </div>

        <div class="data">
            <h3>Datos personales</h3>
            <div>
                <p>Nombre y apellido</p>
                <p>NOMBRE APELLIDO</p>
            </div>
            <div>
                <p>Documento</p>
                <p>DNI 123456789</p>
            </div>
            <div>
                <p>Teléfono</p>
                <p>1512345678</p>
            </div>
            <div>
                <p>Teléfono alternativo</p>
                <p>40123456</p>
            </div>
        </div>

        <div class="data">
            <h3>Tarjetas</h3>
            <div>
                <p>Visa</p>
                <p>N° *******789</p>
            </div>
            <div>
                <p>Mastercard</p>
                <p>N° *******987</p>
            </div>
            <div>
                <p>American Express</p>
                <p>N° *******123</p>
            </div>
        </div>
        <button class="btnProfile">Editar perfil</button>
    </main>

    <%- include('partials/footer') %>
</body>
</html>