<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
    <main class="containerUserProfile">
        <h1>Mis datos</h1>

        <div class="imageProfile">
            <div class="avatar">Imagen de perfil</div>
            <input type="file" name="avatar" id="avatar">
        </div>

        <div class="data">
            <h3>Datos de cuenta</h3>
            <div>
                <p>E-mail</p>
                <p>ejemplo@ejemplo.com</p>
            </div>

            <div>
              <p>Cambiar Contraseña</p>
              <p>**********</p>
          </div>
        </div>

        <div class="data">
            <h3>Datos personales</h3>
            <div>
                <p>Nombre</p>
                <p>NOMBRE</p>
            </div>
            <div>
              <p>Apellido</p>
              <p>APELLIDO</p>
            </div>
            <div>
                <p>Documento</p>
                <p>DNI 123456789</p>
            </div>
            <div>
                <p>Teléfono</p>
                <p>1512345678</p>
            </div>
        </div>

        <a class="btnProfile">Editar perfil</a>
    </main>

    <%- include('partials/footer') %>
</body>
</html>