<header class="headerAdmin">
  <div class="containerLogoAdmin">
      <a href="/"><img class="logoAdmin" src="/images/logoSinFondo.png" alt=""></a>
 </div>

  <div class="menuBurgerAdmin">
    <input type="checkbox" name="burger" id="btn-modal">
    <label for="btn-modal" class="lbl-modal"><i class="fa fa-bars"></i></label>
    
    <div class="modalBurgerAdmin">
        <div class="contenedorBurgerAdmin">
            <label for="btn-modal"><i class="fa fa-times cruz"></i></label>
            <h2>Admin - Extreme Tech</h2>
            <div class="contenidoBurgerAdmin">
                <ul>
                  <a href="/admin/agregarProducto"><li>Agregar producto</li></a>
                  <a href="/admin/agregarMarca"><li>Agregar marca</li></a>
                  <a href="/admin/#"><li>Lista de marcas</li></a>
                  <a href="/admin/index"><li>Lista de productos</li></a>
                  <a href="/admin/users"><li>Lista de usuarios</li></a>
                </ul>
            </div>
        </div>
    </div>
</div>

  <nav class="navAdmin">
    <ul>
      <a href="/admin/agregarProducto"><li>Agregar producto</li></a>
      <a href="/admin/agregarMarca"><li>Agregar marca</li></a>
      <a href="/admin/#"><li>Lista de marcas</li></a>
      <a href="/admin/index"><li>Lista de productos</li></a>
      <a href="/admin/users"><li>Lista de usuarios</li></a>
    </ul>
  </nav>

  <div class="userAdmin">
      <p>Usuario: Nombre Usuario</p>
      <a href="/user/logout">Cerrar sesión</a>
  </div>
</header>
