<div class="avatar-login">
  <% if (typeof session.user != "undefined") { %>
    <a href="/user"> <img class= "user-icono"src="/images/users/<%=session.user.avatar %>" alt="" width="50px"> </a>
    <a class="logout-header" href="/user/logout">Cerrar Sesion</a>
   <% }else{ %>
  
    <a href="/user/login"> <img class="user-icono"src="/images/iconousuario.svg" alt=""> </a>
    <% }  %> 
</div> 
</div>